body{
    background: black;
    
}
body{
    overflow: hidden;
}
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 200px;
    height: 200px;
    display:block;
    position: relative;
}

:root {
 --eye-size: 20px;
}

@property --rotation-angle{
    syntax: "<angle>";
    initial-value: 45deg;
    inherits: true;
}
.wrapper{
    position: relative;
    animation: move 2s forwards;
}

.wrapper::after{
    content: "";
    background: black;
    border-radius: 50%;
    top: 21%;
    right: 54%;
    height: var(--eye-size);
    width: var(--eye-size);
    position: absolute;
    transform-origin: bottom left;
    transform: rotate(var(--rotation-angle));

}

.wrapper::before{
    content: "";
    background: black;
    border-radius: 50%;
    top: 20%;
    right: 10%;
    height: var(--eye-size);
    width: var(--eye-size);
    position: absolute;
    z-index: 2;
    transform-origin: bottom left;
    transform: rotate(var(--rotation-angle));
}

.derp{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
